body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #212529;
}

/* HEADER */
header {
  position: relative;
  background: #0f172a;
  color: white;
  padding: 1rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* HAMBURGUER */
.hamburger {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.hamburger span {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  transition: 0.4s;
}

/* Mostrar "Menu" ao passar o mouse */
.hamburger:hover::after {
  content: "Menu";
  color: white;
  position: absolute;
  top: 35px;
  right: 0;
  font-size: 0.9rem;
  background: #0f172a;
  padding: 3px 6px;
  border-radius: 4px;
}

/* MENU */
#nav-menu {
  display: none; /* começa escondido */
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #0f172a;
  border-radius: 8px;
  padding: 1rem;
}

#nav-menu a {
  display: block;
  color: white;
  padding: 0.5rem 0;
  text-decoration: none;
}

#nav-menu a:hover {
  text-decoration: underline;
}
